.container {
    border: 1px solid grey;
    background-color: lightgray;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.image {
    width: 150px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: rgb(210, 40, 50);
    color: white;
    border: 0px;
    border-radius: 2px;
}

.dataContainer {
    text-align: center;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 17px;
    color: darkslategray;
}

.dataContainer h4 {
    margin: 2px;
    font-size: 15px;
    color: darkslategray;
}