.container {
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.container input {
    border-radius: 3px;
    height: 20px;
    border: 0px;
}

.container button {
    border-radius: 3px;
    height: 20px;
    background-color: darkslategray;
    color: white;
    font-size: 13px;
    padding: 2px;
    border: 0px;
}